<form [formGroup]="rForm" (submit)="submit()">
  <div class="form-group">
    <mat-form-field appeareance="standard">
      <mat-label for="institution">Centro educativo</mat-label>
      <mat-select
        [compareWith]="compareInstitution"
        class="col-sm-10 form-control"
        name="institution"
        formControlName="institution"
      >
        <mat-option [value]="institution" *ngFor="let institution of institutions">
          {{ institution.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appeareance="standard">
      <mat-label for="category">Familia profesional</mat-label>
      <mat-select
        class="col-sm-10 form-control"
        name="category"
        formControlName="category"
        [compareWith]="compareCategory"
      >
        <mat-option [value]="category" *ngFor="let category of categories">
          {{ category.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appeareance="standard">
      <mat-label for="grade">Nivel</mat-label>
      <mat-select
        class="col-sm-10 form-control"
        name="grade"
        formControlName="grade"
        [compareWith]="compareGrade"
      >
        <mat-option [value]="grade" *ngFor="let grade of grades">
          {{ grade.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appeareance="standard">
      <mat-label for="title">Título</mat-label>
      <mat-select
        class="col-sm-10 form-control"
        name="title"
        formControlName="title"
        [compareWith]="compareTitle"
      >
        <mat-option [value]="title" *ngFor="let title of titles">
          {{ title.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appeareance="standard">
      <mat-label for="date">Fecha de obtención del título</mat-label>
      <input
        matInput
        type="text"
        name="date"
        class="col-sm-10 form-control"
        formControlName="date"
      />
    </mat-form-field>
  </div>
  <div class="form-group" style="margin-bottom: 15px">
    <mat-checkbox
      name="bilingue"
      class="form-check-input"
      formControlName="bilingue">
      Bilingüe
    </mat-checkbox>
  </div>
  <div class="form-group" style="margin-bottom: 15px">
    <mat-checkbox
      name="dual"
      class="form-check-input"
      formControlName="dual">
      Dual
    </mat-checkbox>
  </div>
  <button mat-stroked-button class="btn btn-primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
