<!-- <app-menu></app-menu> -->
<mat-toolbar color="primary" class="fix-nav">
    <div class="nav-brand">
        UOCJob
    </div>
    <span class="nav-spacer"></span>
    Logout
    <button mat-icon-button [routerLinkActive]="'active'" [routerLink]="['/']">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
<div id="sidebar">
    <mat-nav-list>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
            <mat-icon class="sidenav-icon">home</mat-icon>Logout
        </a> -->
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin/dashboard/profile']">
            <!-- <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Screen1' | translate }} -->
            <mat-icon class="sidenav-icon">account_box</mat-icon>Profile
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin/dashboard/offers']">
            <!-- <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }} -->
            <mat-icon class="sidenav-icon">people</mat-icon>Offers
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin/dashboard/config']">
          <!-- <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }} -->
          <mat-icon class="sidenav-icon">settings</mat-icon>Settings
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin/dashboard/offers/my-offers']">
          <!-- <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }} -->
          <mat-icon class="sidenav-icon">how_to_reg</mat-icon>My offers
        </a>
    </mat-nav-list>
</div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
